/*-- scss:rules --*/

// Code configurations ----------------------------

// code in a regular R code chunk
code.sourceCode.r {
  font-size: 1rem;
  background-color: #F0F8FF;
}

.lines-content.monaco-editor-background {
  background-color: #F7FDFF;
}

div.overflow-guard div.margin {
 background-color: #F7FDFF; 
}

// code in an webr code chunk 
// .reveal .mtk1{
//   font-size: 0.8rem;
// }

// code in text
.reveal code {
  font-size: 1.4rem;
  color: rgb(118, 13, 216)
}

// results of running codes
pre div code {
  font-size: 0.8rem;
}

// results of running codes in a regular r code chunk
div.cell-output.cell-output-stdout pre code {
  font-size: 0.7rem;
  background-color: #f8f2f6;
}

// results of running codes in an webr code chunk
div.qwebr-output-code-area pre {
  background-color: #f8f2f6;
}

// results of running codes in an webr code chunk
.reveal .qwebr-output-code-stdout {
  font-size: 0.6rem;
}

// Header ----------------------------

.reveal h1 {
  font-size: 2.5rem;
}

.reveal h1 code {
  font-size: 2.5rem;
}

.reveal h2 {
  font-size: 2.2rem;
  color: #f59219;
}

.reveal h2 code {
  font-size: 1.8rem;
}

.reveal h3 {
  font-size: 1.4rem;
}

// call-out box configurations
.reveal .callout.callout-style-default div.callout-title {
  font-size: 1.8rem;
}

.reveal .callout.callout-style-default div.callout-content {
  font-size: 1.6rem;
}

.reveal .slide-logo {
  height: 100px !important;
  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.content-box-blue {
  background-color: #F0F8FF;
}

.content-box-gray {
  background-color: #e2e2e2;
}

.content-box-grey {
  background-color: #F5F5F5;
}

.content-box-army {
  background-color: #737a36;
}

.content-box-green {
  background-color: #d9edc2;
}

.content-box-purple {
  background-color: #e2e2f9;
}

.content-box-red {
  background-color: #ffcccc;
}

.content-box-yellow {
  background-color: #fef5c4;
}

a[role="tab"] {
  color: #06a666;
}

a[aria-selected="true"] {
  color: #ed0c0c;
}

a:hover {
  background-color: #f3f6ae;
}

.monaco-editor {
  background-color: #ec4343;
}

hr {
  height: 0.5px;
  background-color: #da792a;
}


// Answer box
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}